WSSemanticSearch/Web References/srvExpansionConsulta/ExpancionConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExpandirConsulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaminoOntologia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="consulta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoAnalizador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpandirConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExpandirConsultaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarConceptos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaminoOntologia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarConceptosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarConceptosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarConceptosOntologia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaminoOntologia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="consulta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoAnalizador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarConceptosOntologiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarConceptosOntologiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExpandirConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:ExpandirConsulta" />
  </wsdl:message>
  <wsdl:message name="ExpandirConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:ExpandirConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="CargarConceptosSoapIn">
    <wsdl:part name="parameters" element="tns:CargarConceptos" />
  </wsdl:message>
  <wsdl:message name="CargarConceptosSoapOut">
    <wsdl:part name="parameters" element="tns:CargarConceptosResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarConceptosOntologiaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarConceptosOntologia" />
  </wsdl:message>
  <wsdl:message name="RetornarConceptosOntologiaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarConceptosOntologiaResponse" />
  </wsdl:message>
  <wsdl:portType name="ExpancionConsultaSoap">
    <wsdl:operation name="ExpandirConsulta">
      <wsdl:input message="tns:ExpandirConsultaSoapIn" />
      <wsdl:output message="tns:ExpandirConsultaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarConceptos">
      <wsdl:input message="tns:CargarConceptosSoapIn" />
      <wsdl:output message="tns:CargarConceptosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarConceptosOntologia">
      <wsdl:input message="tns:RetornarConceptosOntologiaSoapIn" />
      <wsdl:output message="tns:RetornarConceptosOntologiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpancionConsultaSoap" type="tns:ExpancionConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExpandirConsulta">
      <soap:operation soapAction="http://tempuri.org/ExpandirConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarConceptos">
      <soap:operation soapAction="http://tempuri.org/CargarConceptos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarConceptosOntologia">
      <soap:operation soapAction="http://tempuri.org/RetornarConceptosOntologia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExpancionConsultaSoap12" type="tns:ExpancionConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExpandirConsulta">
      <soap12:operation soapAction="http://tempuri.org/ExpandirConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarConceptos">
      <soap12:operation soapAction="http://tempuri.org/CargarConceptos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarConceptosOntologia">
      <soap12:operation soapAction="http://tempuri.org/RetornarConceptosOntologia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpancionConsulta">
    <wsdl:port name="ExpancionConsultaSoap" binding="tns:ExpancionConsultaSoap">
      <soap:address location="http://localhost:18290/ExpancionConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="ExpancionConsultaSoap12" binding="tns:ExpancionConsultaSoap12">
      <soap12:address location="http://localhost:18290/ExpancionConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>